@charset "utf-8";
$main-color: #25283D;
$sub-color: #107B95;
$base-color:#BAFFF7;
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Navigation Bar */

.navbar {
  background-color: $main-color;
  color: #ffffff;
  border-radius: 4px;
  max-width: 980px;
  margin: 20px auto 0;
  .menu {
    display: flex;
    position: relative;
    @media (max-width: 820px) {
	  display: block;
	  position: relative;
  	}
  	li {
	  flex: 1;
	  display: flex;
	  text-align: center;
	  transition: background-color 0.5s ease;
	  a {
		  flex: 1;
		  justify-content: center;
		  display: inline-flex;
		  color: #ffffff;
		  text-decoration: none;
		  padding: 20px;
		  position: relative;
		  & > .fa {
			  font-weight: bold;
			  margin-left: 8px;
			}
		}
	&:hover {
	  background-color: $sub-color;
	}
	&:hover .container {
	  display: flex;
		@media (max-width: 820px) {
	    display: none;
	  	 }
  	  }
  	}
  .fa-angle-down {
    display: none;
  }
 }
}



a.hasDropdown:after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: $sub-color;
  z-index: 2;
  @media (max-width: 820px) {
    li:hover a.hasDropdown:after {
    display: none;
    }
  }
}

li:hover a.hasDropdown:after {
  content: '';
  border-top-color: $sub-color;
}

/* End Navigation Bar */

/* Start Single Section Menu */

.container {
  display: none;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  background-color: $base-color;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  text-align: left;
  margin-bottom: 30px;
}

.container__list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.container__listItem {
  flex: 0 0 25%;
  padding: 10px 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
	> div {
	  color: $main-color;
	  text-decoration: underline;
	  cursor: pointer;
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	}
}

/* End Single Section Menu */

/* Start Multiple Section Menu */
.container.has-multi .container__listItem {
  flex-basis: 100%;
}

.container.has-multi .container__list {
  flex-basis: 33.333%;
}

.container.has-multi .container__list:not(:last-child) {
  border-right: solid 1px $sub-color;
  margin-right: 20px;
}

/* End Multiple Section Menu */
